{% extends "App/views/layout/layoutHomepage.twig" %}
{% block content %}
<div id="wrapper" class="w-4/5 flex flex-col flex gap-y-1 items-center justify-center"> 
    <h1 class="text-6xl text-center text-violet-200 drop-shadow-xl font-serif" >
    <!-- style="text-shadow: 1px 1px 2px #ffffff, -2px -2px 2px #000000;"-->
    Smart Contractor</h1>
    <p class="text-center drop-shadow-lg">A smart solution for contractwork providers and seekers.</p>
    <a href="login" class="bg-gray-900 bg-opacity-70 border-2 border-gray-100 backdrop-blur-lg px-9 py-3 text-center my-8 font-bold rounded hover:bg-gray-100 hover:border-gray-700 hover:text-gray-900 transition-colors active:text-gray-100 active:bg-gray-900 active:bg-opacity-75 active:border-gray-100 active:bg-opacity-75 focus:outline-none focus:ring focus:ring-gray-700">Start Now</a>
</div>
{% endblock %}