<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body id="app">
    <nav class=" w-full text-gray-900 border-b-2 bg-transparent h-16 p-2 flex justify-around">
        <div class="flex h-full items-center">
            {% include "public/assets/images/logo-dark.svg" %}
            <span class="hidden sm:flex font-serif ml-3 h-full flex md:text-md items-center text-center">Smart Contractor</span>
        </div>
        <div class="w-1/2 flex">
            <fieldset 
            class="w-full flex gap-x-1 border items-center justify-center rounded-3xl focus:outline-none foucus-border-gray-600"
            :class="{'ring ring-1 ring-gray-200': makeParentFocus}">
                {% include "public/assets/images/search.svg" %}
                <input 
                    type="search" 
                    name="search" 
                    class="w-[87%] h-full rounded focus:outline-none" 
                    placeholder="Find contractwork" 
                    @focus="makeParentFocus = true"
                    @blur="makeParentFocus = false"
                >
            </fieldset>
        </div>
        <img src={{  }} class="h-full inline flex items-center justify-center">
            <!-- <div class="relative pt-2"> -->
                <!-- <span class="text-sm font-bold text-gray-600">Mufaddal Khozema</span> -->
                <!-- <div class="flex relative bottom-1 w-full items-right gap-x-1 justify-items-end"> -->
                    <!-- <span class="text-xs ml-auto">Active</span> -->
                    <!-- <div class="inline self-center h-2 w-2 flex align-items justify-center rounded-3xl bg-green-300"></div> -->
                <!-- </div> -->
            <!-- </div> -->
            
    </nav>
    <main class="h-screen flex">
        <aside class="w-1/4 border-r-2 h-full"></aside>
        <section class="w-full h-full">
            <div id="filter-results" class="h-10 w-full border-b"></div>
            <ul id="results" class="h-full w-full p-5">
                <li id="result-wrapper" class="w-full border shadow-sm p-4 px-6 rounded-3xl hover:bg-gray-50">
                    <div id="result-contents" class="h-full flex flex-col gap-y-6 justify-between text-sm">
                        <div id="result-top" class="flex flex-col gap-y-1">
                            <h3 class="font-bold text-sm flex gap-x-1 items-center">
                                <img src="public/assets/images/user.svg" alt="user image" class="inline w-4 h-4">
                                Jhon Doe
                                <span class="font-light text-gray-500">Karachi</span>
                            </h3>
                            <p class="text-sm text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil tenetur est veritatis. Corrupti nobis odio quae deleniti similique quis laudantium provident voluptatem sed ipsa at officia eius modi, illum nostrum!
                                <span>▼</span>
                            </p>
                            <span class="overflow-hidden flex gap-x-1 text-xs text-gray-400 h-4 w-full">
                                <span class="flex bg-cover bg-no-repeat w-28 h-4" style="background-image: url(public/assets/images/5-stars.svg);"></span> 
                                (124 ratings)
                            </span>
                        </div>
                        <div id="result-bottom" class="flex justify-between ">
                            <ul id="skill-list" class="flex gap-x-0.5 items-start text-xs">
                                <div id="skill-item" class="text-[0.65rem] border bg-gray-200/75 hover:bg-gray-200 text-gray-600 p-1 px-2 rounded-3xl inline">Carpentry</div>
                                <div id="skill-item" class="text-[0.65rem] border bg-gray-200/75 hover:bg-gray-200 text-gray-600 p-1 px-2 rounded-3xl inline">Wood Working</div>
                                <div id="skill-item" class="text-[0.65rem] border bg-gray-200/75 hover:bg-gray-200 text-gray-600 p-1 px-2 rounded-3xl inline">Stone Masonery</div>
                            </ul>
                            <div class="flex gap-x-1">
                                <button class="bg-gray-700 text-white font-bold p-1.5 px-2.5 hover:shadow-md rounded-3xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-gray-400 active:bg-gray-900">Send an Offer</button>
                                <button class="bg-no-repeat bg-center bg-gray-700 bg-[length:24px_24px] text-white font-bold rounded-3xl p-5 hover:shadow-md hover:bg-gray-800 focus:outline-none focus:ring focus:ring-gray-400 active:bg-gray-900" 
                                    style="background-image: url('public/assets/images/chat.svg');"> 
                                </button> 
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>
<script src="https://unpkg.com/vue@3"></script>
<script src="public/assets/js/welcome.js"></script>
</body>
</html>